@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Regular-webfont.eot');
  src: url('../assets/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Roboto-Regular-webfont.woff') format('woff'),
       url('../assets/fonts/Roboto-Regular-webfont.ttf') format('truetype'),
       url('../assets/fonts/Roboto-Regular-webfont.svg#gotham_blackregular') format('svg');
  font-weight: 400;
  font-style: normal;
}
